@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="css/site.css"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container portfolio">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <img src="https://image.ibb.co/cbCMvA/logo.png"/>
            </div>
        </div>
    </div>
    <div class="bio-info">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bio-image">
                            <img src="https://i.imgur.com/2asrUyJ.jpg" alt="image"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bio-content">
                    <h1>It's me, Radko</h1>
                    <h4>I am the developer of this project. I'm unskilled SoftUni student with a big interest in Web Development. I'm a not so fast learner, but hard worker and team player.</h4>
                    <p>P.S I have no special talent, except drinking beer :D</p>
                    <hr style="background-color: gray; height: 1px"/>
                    <p>
                        Contacts:
                        <a href="https://www.facebook.com/radoslav.radoev.52" class="btn btn-block btn-facebook">
                            <span class="fab fa-facebook"></span>
                            Facebook
                        </a>
                        <a id="google" href="" class="btn btn-block">
                            <span class="fab fa-google"></span>
                            Google+
                        </a>
                        <a id="git" href="https://github.com/captain-radko" class="btn btn-block">
                            <span class="fab fa-github-square"></span>
                            GitHub
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br/>
</div>