@model IdeGames.Services.Models.Models.News.NewsDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
@*TODO:Some frontend pls*@
<div class="container">
    <h2>@Model.Name</h2>
    <hr style="background-color: lightblue; height: 1px"/>
    <img src=""/>
    <p >@Model.Content</p>
    <p>
        <strong>Published On: </strong>@Model.PublishedOn
    </p>
</div>
<div class="container">
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Back to Home</a>
</div>