@model IdeGames.Services.Models.Models.Error.ErrorViewModel

@{
    ViewData["Title"] = "CustomError";
}

<div style="margin-top: 15px" class="alert alert-danger alert-dismissable">
    <a href="javascript:window.history.back()" class="close" aria-label="close">×</a>
    <strong>Error!</strong>
    @Model.Error
</div>

