@model IdeGames.Services.Models.Models.Games.CreateGameInputModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <h2 align="center">Add Game</h2>
                <hr style="background-color: black; height: 1px"/>
                <form method="post" asp-controller="Games" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control"/>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control"/>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageUrl" class="control-label"></label>
                        <p>
                            <strong style="color: red">Please upload images with an exact size of 350x500 px!</strong>
                            <strong style="color: darkred">Use <a href="https://imgur.com/">https://imgur.com/</a> (recommended)</strong>
                        </p>
                        <input asp-for="ImageUrl" class="form-control"/>
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}