@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <h2 align="center">Create</h2>
            <hr style="background-color: blue; height: 1px"/>
            <p align="center">
            <a asp-controller="News" asp-action="Create" class="btn btn-primary">Add News</a>
            <a asp-controller="Games" asp-action="Create" class="btn btn-primary">Add Game</a>
            <hr style="background-color: blue; height: 1px"/>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <h2 align="center">Delete</h2>
            <hr style="background-color: red; height: 1px"/>
            <p align="center">
                <a asp-controller="Home" asp-action="Index" class="btn btn-danger">Delete News</a>
                <a asp-controller="Games" asp-action="Index" class="btn btn-danger">Delete Game</a>
                <a asp-controller="Account" asp-action="Index" class="btn btn-danger">Delete User</a>
            </p>
            <hr style="background-color: red; height: 1px"/>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <h2 align="center">Update</h2>
            <hr style="background-color: green; height: 1px"/>
            <p align="center">
                <a asp-controller="Games" asp-action="Edit" class="btn btn-success">Update Game Information</a>
            </p>
            <hr style="background-color: green; height: 1px"/>
        </div>
    </div>
</div>